@font-face {
  font-family: "Smart Font";
  src: url("../fonts/SmartFont.otf") format("opentype");
}
@font-face {
  font-family: "FiraSans-ExtraBold";
  src: url("../fonts/FiraSans-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "AbrilFatface-Regular";
  src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype");
}

$blue: #135b86;
$pink: #e35471;
$black: #333;
$link: #1a0dab;

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Smart Font", sans-serif;
  color: $black;
}

header {
  display: flex;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

  .header-logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    background-image: url(../imgs/header-bg.png);
    background-size: cover;

    //ロゴが読み込まれなかったとき
    font-family: "FiraSans-ExtraBold";
    font-size: 10vw;
    text-align: center;
    letter-spacing: .7vw;
    color: $blue;

    .white-shadow {
      position: absolute;
      top: 0;
      bottom: 5vh;
      left: 0;
      right: 0;
      margin: auto;
      width: 60vw;
      height: 30vh;
      filter: blur(3vw);
      background: #fff;
    }

    img {
      width: 50vw;
      z-index: 2;
      margin-bottom: 5vh;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24vw;
    padding-bottom: 13vh;
    background: $pink;

    .nav-item {
      display: block;
      padding: 2vw 0;
      margin: 0.8vw 0;
      font-size: 2.2vw;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      color: #fff;

      &::before {
        content: attr(data-eng);
        display: block;
        margin-bottom: -2.5vw;
        font-family: "AbrilFatface-Regular";
        font-weight: normal;
        font-size: 4.4vw;
        opacity: .25;
      }

      &:hover {
        background: #ffffffd9;
        color: $pink;
      }
    }
  }
}

section {
  &#strengths,
  &#works {
    display: flex;
    align-items: stretch;
  }

  & > img {
    width: 50%;
    object-fit: cover;
  }

  .content {
    position: relative;
    width: 50%;
    margin: 200px 0 130px;
    padding-bottom: 30px;
    border: 8px solid;
    border-radius: 10px;
    background: #fff;
  }
  
  h1 {
    font-size: 28px;
    text-align: center;

    &::before {
      content: attr(data-eng);
      display: block;
      margin-bottom: -2.5vw;
      font-family: "AbrilFatface-Regular";
      font-weight: normal;
      font-size: 55px;
      opacity: .25;
    }
    &.h-pink::before { color: $pink; }
    &.h-blue::before { color: $blue; }
  }

  &#strengths {
    margin-top: calc(-10vh + 10px);
    margin-bottom: 10px;
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
    .content { left: -5vw; border-color: $pink;}

    ol {
      counter-reset: index;
      list-style: none;
      width: 80%;
      margin: 40px auto 0;
      padding: 0;

      li {
        position: relative;
        font-size: 22px;
        margin: 15px;
        padding: 20px;
        padding-left: 90px;
        background: #f5eded;
        &::before {
          counter-increment: index;
          content: counter(index);
          display: block;
          box-sizing: border-box;
          position: absolute;
          top: 0;
          left: 0;
          width: 65px;
          height: 100%;
          border-radius: 5px 0 0 5px;
          background: $pink;
          text-align: center;
          line-height: 65px;
          color: #fff;
        }
      }
    }
  }

  &#works {
    flex-direction: row-reverse;
    .content { right: -5vw; border-color: $blue;}


    .works-grid {
      display: grid;
      justify-content: center;
      grid-template-columns: 240px 240px;
      grid-template-rows: 200px;
      gap: 20px;

      .work-item {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          border: 1px solid #555;
          object-fit: cover;
        }

        table {
          position: absolute;
          top: 1px;
          left: 1px;
          width: 100%;
          height: 100%;
          background: #ffffffe6;
          padding: 30px 0;
          opacity: 0;
          transition: opacity .3s;
          thead {
            font-size: 17px;
          }
          tbody {
            font-size: 14px;
            th {
              font-weight: normal;
              text-align: right;
              vertical-align: t;
              width: 35%;
              &::after {
                content: "：";
              }
            }
          }
        }
        &:hover table {
          opacity: 1;
        }
      }
    }
  }

  &#contact {
    margin-top: 10px;
    padding: 20px 0 50px;
    background-image: url(../imgs/contact-bg.png);
    h1 {
      color: #fff;
      &::before {
        mix-blend-mode: lighten;
        opacity: .4;
      }
    }

    .btn {
      width: 900px;
      max-height: 9999;
      margin: 15px auto;
      padding: 10px 0 35px;
      border: 5px solid $blue;
      border-radius: 20px;
      background: #fff;
      * { transition: all .2s; }
      
      span {
        display: block;
        padding: 25px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
      }
      .links-container {
        display: flex;
        justify-content: center;
        a {
          position: relative;
          margin: 0 10px;
          padding: 10px 50px 10px 20px;
          border-radius: 35px;
          background: #C0D8E6;
          font-size: 12px;
          text-decoration: none;
          color: $blue;
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            width: 15px;
            height: 15px;
            margin: auto;
            background-image: url(../imgs/angle-right.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
      form {
        width: 80%;
        margin: 0 auto;

        .radio-container {
          display: flex;
          justify-content: center;
          &#contact-type:not(.closed) { margin-top: 70px; }
  
          input[type="radio"]{ display: none; }
          label {
            box-sizing: border-box;
            width: 50%;
            padding: 7px;
            border: 3px solid $blue;
            font-size: 15px;
            text-align: center;
            cursor: pointer;
            &:first-of-type { border-radius: 8px 0 0 8px; }
            &:last-of-type { border-radius: 0 8px 8px 0;  margin-left: -3px;}
          }
          input:checked + label {
            background: $blue;
            color: #fff;
          }
        }

        h2 {
          margin-top: 30px;
          font-weight: normal;
          font-size: 22px;
          text-align: center;
          &::before {
            content: attr(data-index);
            font-size: 12px;
            margin-right: 5px;
          }
        }

        #basic-info {      
          &.closed {
            margin: 0;
            padding: 0;
            font-size: 0;
            line-height: 0;
            padding: 0;
          }

          &.individual input#company-name,
          &.individual label[for="company-name"] {
            display: none;
          }
        }

        #iquiry-details {
          &.closed {
            margin: 0;
            padding: 0;
            font-size: 0;
            line-height: 0;
            padding: 0;
          }

          #budget-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            input { width: 42%; }
            input:last-of-type { margin-left: 0; }
            p { flex-grow: 1; text-align: center;}
          }

          &.other-iquiries #budget-container,
          &.other-iquiries label[for="budget-minimum"] { display: none; }
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="number"],
        textarea {
          display: block;
          box-sizing: border-box;
          width: calc(100% - 20px);
          margin: 8px 0 15px 20px;
          padding: 10px 25px;
          border: 2px solid $black;
          border-radius: 45px;
          font-size: 15px;
            box-shadow: 0 0 5px #1245B1;
          &:focus {
            // border-color: #1245B1;
            box-shadow: 0 0 11px #1245B1;
            outline: none;
          }
          &:invalid {
            box-shadow: 0 0 4px #A50;
            &:focus {
              box-shadow: 0 0 11px #A50;
            }
          }
        }

        textarea {
          border-radius: 10px;
        }

        label {
          font-size: 18px;
          vertical-align: middle;
          &.required::after,
          &.optional::after {
            display: inline-block;
            position: relative;
            top: -2px;
            margin-left: 10px;
            padding: 4px 20px;
            font-size: 10px;
            line-height: 1.2;
            color: #fff;
          }
          &.required::after {
            content: "必須";
            background: #AC0808;
          }
          &.optional::after {
            content: "任意";
            background: #1a0dab;
          }
        }
      }

      &.closed { padding: 20px 0; }
      &.closed,
      .closed {
        border-radius: 60px;
        *:not(span),
        *::before,
        *::after{
          margin: 0 !important;
          padding: 0 !important;
          border: 0 !important;
          line-height: 0;
          font-size: 0 !important;
          opacity: 0;
          cursor: default;
          pointer-events: none;
        }
        span { padding: 0; }
      }

    }
  }
}